
#jupiter-terminal form>div>div:last-of-type button {
    border: 1px solid #7912FF;
    background-color: black;
    opacity: 100;
}
#jupiter-terminal form>div>div:last-of-type button span {
    color:white;
}

.focus-within\:border-v3-primary\/50:focus-within {
    border-color:#7912FF;
}